/* CSS HEX
--ice-blue: #90fcf9ff;
--aero: #63b4d1ff;
--vista-blue: #7699d4ff;
--russian-violet: #480355ff;
--raspberry: #d81159ff; */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* General Styles */

#hero {
    background-color: #63b4d1ff;
    background-image: url("/assets/images/hero-logo-5.svg");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 400px;
    padding: 5% 7%;
}
body {
    background-color: #63b4d1ff;
    font-family: "hind-madurai" ;
}

h1, h2 {
    font-family: "lora";
    font-style: italic;
}

#offering {
    background-color: #480355ff;
}

#testimonials {
background-color: #d81159ff;
}

.responsive {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#testimonials
img {
    width: 200px;
    height: auto;
    object-fit: cover;
}
